@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", sans-serif;
}

body {
    background: #2D3250;
}

h1 {
    color: #7077A1;
    text-align: center;
    font-size: 48px;
    letter-spacing: 2px;
    margin: 80px;
}

.bigkasvox-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bigkasvox-container h1 span {
    color: #F6B17A;
}

.inputs, .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#input-text {
    width: 700px;
    height: 250px;
    font-size: 16px;
    background-color: #424769;
    color: white;
    border: none;
    border-radius: 12px;
    outline: none;
    resize: none;
    padding: 16px;
    margin-bottom: 50px;
}

.buttons {
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#listen-btn {
    font-size: 16px;
    color: white;
    border: none;
    outline: none;
    border-radius: 2rem;
    padding: 12px 50px;
    background-color: #F6B17A;
    cursor: pointer;
    display: flex;
    align-items: center;
}

#language-btn {
    flex: 1;
    color: white;
    background-color: #424769;
    height: 50px;
    padding: 0 20px;
    outline: 0;
    border: 0;
    border-radius: 30px;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3e%3cpolyline points='6 9 12 15 18 9'%3e%3c/polyline%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 1.4rem;
}
